.footer-section {
  padding: 100px 0;
  background-color: #2e2f42;
}
.footer-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-logo {
  color: #f4f4fd;
}

.footer-caption {
  max-width: 264px;
  color: #f4f4fd;
}

.footer-socials {
  margin-left: 120px;
}

.media-caption {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}

.bottom-socials {
  gap: 16px;
}

.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}
